name: Compile the paper
on: push
jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
      - name: Setup Typst
        uses: typst-community/setup-typst@v4.3.0
      - name: Compile main.typ
        run: typst compile paper/main.typ paper.pdf
  release:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Delete old release
        run: gh release delete paper-latest --cleanup-tag
      - name: Create new release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: paper-latest
          name: Paper
          files: paper.pdf
          generate_release_notes: false
