name: Release the paper
on:
  workflow_run:
    workflows:
      - Compile the paper
    branches:
      - main
    types:
      - completed
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v5
        with:
          name: paper
      - name: Delete old release
        run: gh release delete paper-latest --cleanup-tag
      - name: Create new release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: paper-latest
          name: Paper
          files: paper.pdf
          generate_release_notes: false
